Repository Mijago/D2ArmorPicker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "*.ts": ["prettier --write", "eslint"],
    "*.html": ["eslint", "prettier --write"],
    "*.scss": "prettier --write",
    "*.md": "prettier --write"
}

fix: improve result amount display
  src/app/data/types/IPermutatorArmorSet.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: add debug and warning logs
  src/app/services/bungie-api.service.ts
  src/app/services/inventory.service.ts
Due: prettier --write, eslint

refactor: integrate NGXLogger across components and services
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/authenticated-v2/app-v2-core/app-v2-core.component.ts
  src/app/components/authenticated-v2/results/expanded-result-content/expanded-result-content.component.ts
  src/app/components/authenticated-v2/results/results.component.ts
  src/app/components/authenticated-v2/settings/desired-exotic-selection/desired-exotic-selection.component.ts
  src/app/components/authenticated-v2/settings/desired-mod-limit-selection/gearset-selection/gearset-selection.component.ts
  src/app/components/authenticated-v2/settings/desired-mods-selection/desired-mods-selection.component.ts
  src/app/components/authenticated-v2/settings/desired-stat-selection/stat-tier-selection/stat-tier-selection.component.ts
  src/app/components/authenticated-v2/settings/load-and-save-settings/load-and-save-settings.component.ts
  src/app/components/authenticated-v2/subpages/armor-investigation-page/armor-investigation-page.component.ts
  src/app/components/handle-bungie-login/handle-bungie-login.component.ts
  src/app/services/auth.service.ts
  src/app/services/bungie-api.service.ts
  src/app/services/character-stats.service.ts
  src/app/services/clarity.service.spec.ts
  src/app/services/clarity.service.ts
  src/app/services/configuration.service.ts
  src/app/services/database.service.ts
  src/app/services/http-client.service.ts
  src/app/services/inventory.service.ts
  src/app/services/membership.service.ts
  src/app/services/results-builder.worker.ts
  src/app/services/status-provider.service.ts
  src/app/services/vendors.service.ts
Due: prettier --write, eslint

feat: implement initialization check and fallback
  src/app/app.component.ts
  src/app/services/inventory.service.ts
Due: prettier --write, eslint

feat: replace exotic images with item icons in results card view
  src/app/components/authenticated-v2/results/results-card-view/results-card-view.component.html
Due: prettier --write, eslint

feat: add stat icons to the card view
  src/app/components/authenticated-v2/results/results-card-view/results-card-view.component.html
  src/app/components/authenticated-v2/results/results-card-view/results-card-view.component.scss
Due: prettier --write, eslint

style: adjust item icon overlay dimensions for better responsiveness
  src/app/components/authenticated-v2/components/item-icon/item-icon.component.scss
Due: prettier --write

feat: refactor itemLookup to use BehaviorSubject for caching items
  src/app/services/item-icon-service.service.ts
Due: prettier --write, eslint

fix: handle errors in loadCurrentConfiguration
  src/app/services/configuration.service.ts
Due: prettier --write, eslint

feat: add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

feat: add issue templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

feat: enable blank issues in issue template configuration
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat: renamed issue templates
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/20_feature_request.yml
Due: none

feat: add funding configuration
  .github/FUNDING.yml
Due: none

fix: template yaml error
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/20_feature_request.yml
Due: none

feat: update project description and key features in README
  README.md
Due: prettier --write

feat: initial tuning implementation; unfinished
  src/app/data/types/IPermutatorArmorSet.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: allow secondary and tertiary stats in tuning
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: add support for tuning mods in expanded result content
  src/app/components/authenticated-v2/results/expanded-result-content/expanded-result-content.component.html
  src/app/components/authenticated-v2/results/expanded-result-content/expanded-result-content.component.ts
  src/app/components/authenticated-v2/results/results.component.ts
  src/app/data/types/IPermutatorArmorSet.ts
  src/app/services/inventory.service.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: improve handling of fixed stat tiers in permutation calculations
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: retrieve tuningStatHash in BungieApiService
  src/app/data/types/IInventoryArmor.ts
  src/app/data/types/IPermutatorArmor.ts
  src/app/services/bungie-api.service.ts
  src/app/services/inventory.service.ts
Due: prettier --write, eslint

feat: enhance tuning information structure in IPermutatorArmorSet
  src/app/data/types/IPermutatorArmorSet.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: enhance tuning stat handling
  src/app/services/bungie-api.service.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: improve tuning stat assignment logic in BungieApiService
  src/app/services/bungie-api.service.ts
Due: prettier --write, eslint

fix: tier availability can now handle 0waste again
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: refactor tuning stat handling to use ArmorStat
  src/app/data/enum/armor-stat.ts
  src/app/data/types/IInventoryArmor.ts
  src/app/data/types/IPermutatorArmor.ts
  src/app/data/types/IPermutatorArmorSet.ts
  src/app/services/bungie-api.service.ts
  src/app/services/inventory.service.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: optimize tuning stat filtering - SLOW!!
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: add tuning affinity display to result table
  src/app/components/authenticated-v2/results/expanded-result-content/expanded-result-content.component.html
  src/app/components/authenticated-v2/results/results.component.ts
  src/app/services/inventory.service.ts
Due: prettier --write, eslint

fix: exotic artifice slot
  src/app/services/bungie-api.service.ts
Due: prettier --write, eslint

fix: class items can have tunignAffinity too
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: removed incorrect speedup methods
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: add tier column to armor items table
  src/app/components/authenticated-v2/results/expanded-result-content/expanded-result-content.component.html
Due: prettier --write, eslint

docs: update version to 2.9.7
  package.json
  set-env.ts
  src/app/data/changelog.ts
Due: prettier --write, eslint

fix: update test configurations and remove unused code
  package.json
  src/app/app.component.spec.ts
  src/app/services/clarity.service.spec.ts
  src/app/services/results-builder.worker.spec.ts
Due: prettier --write, eslint

feat: add tuning stats display to results card view
  src/app/components/authenticated-v2/results/results-card-view/results-card-view.component.html
  src/app/components/authenticated-v2/results/results-card-view/results-card-view.component.scss
Due: prettier --write, eslint

feat: enhance tuning system with new tuningHashPlacement
  src/app/components/authenticated-v2/results/results.component.ts
  src/app/data/database.ts
  src/app/data/types/IPermutatorArmorSet.ts
  src/app/services/inventory.service.ts
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

fix: allow the use of negative stats
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint

feat: improve armor sorting and deduplication in generate_tunings
  src/app/services/results-builder.worker.ts
Due: prettier --write, eslint
